util/credentials
credentials
plant_monitor_env
util/__pycache__
__pycache__
logs
.env
util/event_codes.csv
util/plant_events.csv
util/plants.csv
util/sensors.csv
web/creds.php
ard/wllight/creds.h
ard/sensorTemplate/creds.h
ard/weight/creds.h
